<p>customer works!</p>

<a [routerLink]="[]" (click)="selectTab(1)">Tab - 1</a> &nbsp; | &nbsp;
<a [routerLink]="[]" (click)="selectTab(2)">Tab - 2</a> &nbsp; | &nbsp;
<a [routerLink]="[]" (click)="selectTab(3)">Tab - 3</a> &nbsp; | &nbsp;
<a [routerLink]="[]" (click)="selectTab(4)">Tab - 4</a>

<div [ngSwitch]="optionSelected">
    <div *ngSwitchCase="1">output - 1</div>
    <div *ngSwitchCase="2">output - 2</div>
    <div *ngSwitchCase="3">output - 3</div>
    <div *ngSwitchCase="4">output - 4</div>
    <div *ngSwitchDefault>Invalid Option</div>
</div>

<app-grid></app-grid>
