<p>employee works!</p>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Hidden brand</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



 <div class="col-4">
    <form >
         
        <div class="col-4">
            <form name="addEmp" #addEmp="ngForm" (ngSubmit)="addEmployee(addEmp)">
                <!-- {{employee|json}} -->
                <div class="mb-3">
                    <label for="empNumber" class="form-label">Employee Number</label>
                    <input type="text" name="empNumber" #empNumber="ngModel" class="form-control" placeholder="Employee Number"
                        aria-describedby="empNumber" [(ngModel)]="employee.empNumber" required>
                     <small id="empNumber"  
                     *ngIf="(empNumber.invalid && empNumber.touched) || (empNumber.invalid && addEmp.submitted)"   
                        class="text-muted">Employee Number is required</small>
                </div>

                <div class="mb-3">
                    <label for="empName" class="form-label">Employee Name</label>
                    <input type="text" name="empName" #empName="ngModel"  class="form-control" placeholder="Employee Name"
                        aria-describedby="empName" [(ngModel)]="employee.empName"  required>
                        <small id="empName" 
                        *ngIf="(empName.invalid && empName.touched) || (empName.invalid && addEmp.submitted)" 
                        class="text-muted">Employee Name is required</small>
                </div>

                <div class="mb-3">
                    <label for="empSalary" class="form-label">Employee Salary</label>
                    <input type="text" name="empSalary" #empSalary="ngModel"   class="form-control" placeholder="Employee Salary"
                        aria-describedby="empSalary" [(ngModel)]="employee.empSalary"  required>
                    <small id="empSalary"
                    *ngIf="(empSalary.invalid && empSalary.touched) || (empSalary.invalid && addEmp.submitted)" 

                         class="text-muted">Employee Salary is required</small>
                </div>
                <div class="mb-3">
                    <input type="submit"  class="btn btn-primary">
                </div>
            </form>
        </div>
    </form>
 </div>
 <br>
<table class="table">
    <thead>
        
            <th><a [routerLink]="[]" (click)="sortData('empNumber')"> Emp. Number</a></th>
            <th><a [routerLink]="[]" (click)="sortData('empName')"> Emp. Name</a></th>
            <th><a [routerLink]="[]" (click)="sortData('empSalary')"> Emp. Salary</a></th>
    </thead>
   <tbody>
    <tr *ngFor=" let item of employees">
        <td>{{item.empNumber}}</td>
        <td>{{item.empName}}</td>
        <td>{{item.empSalary}}</td> 
         
        <td><a [routerLink]="[]" (click)="editEmp(item)">edit</a> </td>
    </tr>
   </tbody>
   
</table>
